{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <form>
        <label for="message">Type anything</label>
        <input type="text" id="message" name="message">
        <button type="submit">Search</button>
    </form>
    {{chat}}


    <img src="{{image}}" alt="">
</body>
</html>